.footer{
  width: 100%;
  border-top: 1px solid #E1E3E6;
  flex: 0 1 auto;
  @media (max-width: 768px){
    display: none;
  }
}
.container{
  max-width: 1320px;

}
.footerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 35px;
  color:#9A9CAA;
  @media screen and (max-width: 992px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}