.logo {
  display: flex;
  flex-direction: row;

}

.logoIcon {
  margin-right: 8px;
}

.logoText {
  padding: 4.5px 0;
  color: #272343;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
}